= simple_form_for(@coctail, html: { class: 'form-horizontal' }) do |f|
  .input-group
    = label_tag "Date:"
    = f.date_select :date, class: "form-control"
  .input-group
    = f.input :coctail, label: "Cocktail name:", input_html: { class: "form-control" }
  .input-group
    = f.input :ingred, label: "Cocktail ingredients:", input_html: { class: "form-control" }
  .input-group
    %br/
    = f.button :submit
