= simple_form_for(@coctail, html: { class: 'form-horizontal' }) do |f|
	= f.input :date, label: "Date"
	= f.input :coctail, label: "Coctail name", input_html: { class: "form-control" }
	= f.input :ingred, label: "Coctail ingredients", input_html: { class: "form-control" }
	%br/
	= f.button :submit